<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.dao.workflow.OvertimeApproveRepository">
	<resultMap type="OvertimeApprove" id="overtimeApproveResult">
		<result property="id" column="id"/>
		<result property="applicantId" column="applicant_id"/>
		<result property="applicantName" column="applicant_name"/>
		<result property="auditorId" column="auditor_id"/>
		<result property="auditorName" column="auditor_name"/>
		<result property="createTime" column="create_time"/>
		<result property="auditContent" column="audit_content"/>
		<result property="status" column="status"/>
		<result property="flowId" column="flow_id"/>
		<result property="processId" column="process_id"/>
		<result property="taskName" column="task_name"/>
	</resultMap>
	
	<insert id="save" parameterType="OvertimeFlow">
		insert into workoa_overtime_approve_info(applicant_id,applicant_name,auditor_id,auditor_name,create_time,audit_content,status,flow_id,process_id,task_name) 
		values(#{applicantId},#{applicantName},#{auditorId},#{auditorName},#{createTime},#{auditContent},#{status},#{flowId},#{processId},#{taskName});
	</insert>
	
	<select id="selectListByFlowId" parameterType="long" resultMap="overtimeApproveResult">
		select * from workoa_overtime_approve_info where flow_id=#{flowId};
	</select>
</mapper>