<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.dao.ActionRepository">
	<resultMap id="actionResult" type="Action">
		<result property="id" column="id"/>
		<result property="actionName" column="action_name"/>
		<result property="actionValue" column="action_value"/>
	</resultMap>
	
	<insert id="saveAction" parameterType="Action">
		insert into workoa_action(action_name,action_value) values(#{actionName},#{actionValue});
	</insert>
	
	<update id="updateAction" parameterType="Action">
		update workoa_action set action_name=#{actionName},action_value=#{actionValue} where id=#{id}
	</update>
	
	<delete id="deleleAction" parameterType="long">
		delete from workoa_action where id=#{id}
	</delete>
	
	<select id="selectActionCountByPage" parameterType="java.util.Map" resultType="int">
		select count(*) from workoa_action;
	</select>
	
	<select id="selectActionListByPage" parameterType="java.util.Map" resultMap="actionResult">
		select * from workoa_action 
		order by id desc limit #{limitNum} offset #{offset};
	</select>
	
	<select id="selectActionById" parameterType="long" resultMap="actionResult">
		select * from workoa_action where id=#{id}
	</select>
</mapper>