<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.dao.PermitRepository">
	<resultMap type="Permit" id="permitResult">
		<result property="id" column="id"/>
		<result property="permitCode" column="permit_code"/>
		<result property="permitValue" column="permit_value"/>
		<result property="permitDesc" column="permit_desc"/>
		<result property="moduleId" column="module_id"/>
		<result property="actionId" column="action_id"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<insert id="savePermit" parameterType="Permit">
		insert into workoa_permit(permit_code,permit_value,permit_desc,module_id,action_id,create_time) 
		values(#{permitCode},#{permitValue},#{permitDesc},#{moduleId},#{actionId},#{createTime});
	</insert>
	
	<delete id="deletePermit" parameterType="long">
		delete from workoa_permit where id=#{id}
	</delete>
	
	<select id="selectPermitByModuleId" parameterType="long" resultMap="permitResult">
		select * from workoa_permit where module_id=#{moduleId}
	</select>
	
	<select id="selectPermitByModuleIdAndActionId" parameterType="java.util.Map" resultMap="permitResult">
		select* from workoa_permit where module_id=#{moduleId} and action_id=#{actionId};
	</select>
	
	<select id="selectPermitByActionId" parameterType="long" resultMap="permitResult">
		select * from workoa_permit where action_id=#{actionId};
	</select>
	
	<select id="selectPermitListByPage" parameterType="java.util.Map" resultMap="permitResult">
		select * from  workoa_permit where 1=1 
		<if test="moduleId!=null and moduleId!=''">
			and module_id=#{moduleId} 
		</if>
		order by id desc limit #{limitNum} offset #{offset};
	</select>
	
	<select id="selectPermitCountByPage" parameterType="java.util.Map" resultType="int">
		select count(*) from workoa_permit where 1=1 
		<if test="moduleId!=null and moduleId!=''">
			and module_id=#{moduleId} 
		</if> 
	</select>
	
	<select id="selectRolePermitByUserId" parameterType="long" resultType="string">
		select p.permit_value from workoa_user_permit up,workoa_role_permit rp,workoa_permit p 
		where up.user_id=#{userId} and up.role_id=rp.role_id and rp.permit_id=p.id
	</select>
	
	<select id="selectSuperRoleByUserId" parameterType="long" resultType="int">
		select count(*) from workoa_user_permit where user_id=#{userId} and role_id=1;
	</select>
</mapper>