<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.dao.RolePermitRepository">
	<resultMap id="rolePermitResult" type="RolePermit">
		<result property="id" column="id"/>
		<result property="roleId" column="role_id"/>
		<result property="permitId" column="permit_id"/>
	</resultMap>
	
	<insert id="saveRolePermit" parameterType="RolePermit">
		insert into workoa_role_permit(role_id,permit_id) values(#{roleId},#{permitId});
	</insert>
	
	<delete id="deleteRolePermit" parameterType="java.util.Map">
		delete from workoa_role_permit where role_id=#{roleId} and permit_id=#{permitId}
	</delete>
	
	<resultMap type="org.common.entity.view.role.RolePermitView" id="rolePermitView">
		<result property="roleId" column="role_id"/>
		<result property="permitId" column="permit_id"/>
		<result property="permitCode" column="permit_code"/>
		<result property="permitValue" column="permit_value"/>
		<result property="permitDesc" column="permit_desc"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<select id="selectRolePermit" parameterType="long" resultMap="rolePermitView">
		select rp.role_id,rp.permit_id,permit_code,permit_value,permit_desc,create_time from workoa_role_permit rp,workoa_permit p where rp.permit_id=p.id and rp.role_id=#{roleId};
	</select>
	
	<select id="selectRolePermitByRoleIdAndPermitId" parameterType="java.util.Map" resultMap="rolePermitResult">
		select * from workoa_role_permit where role_id=#{roleId} and permit_id=#{permitId};
	</select>
	
	<select id="selectCountPermitByRoleId" parameterType="long" resultType="int">
		select count(*) from workoa_role_permit where role_id=#{roleId};
	</select>
	
	<select id="selectCountPermitByPermitId" parameterType="long" resultType="int">
		select count(*) from workoa_role_permit where permit_id=#{permitId}
	</select>
</mapper>