<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.dao.UserRepository">
	<resultMap type="User" id="userResult">
		<result property="userId" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="userCode" column="code"/>
		<result property="email" column="email"/>
		<result property="mobilePhone" column="mobile"/>
		<result property="telphone" column="telphone"/>
		<result property="address" column="address"/>
		<result property="isDel" column="is_del"/>
		<result property="createTime" column="create_time"/>
		<result property="status" column="status"/>
		<result property="imageKey" column="image_key"/>
		<result property="deptCode" column="dept_code"/>
		<result property="deptId" column="dept_id"/>
		<result property="realName" column="real_name"/>
		<result property="salt" column="salt"/>
	</resultMap>
	
	<resultMap type="org.common.entity.view.user.UserLoginView" id="userLoginView">
		<result property="userId" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="salt" column="salt"/>
	</resultMap>
	
	<select id="selectLoginInfoByUserName" parameterType="string" resultMap="userLoginView">
		select id,user_name,password,salt from workoa_user where is_del=1 and user_name=#{userName};
	</select>

	<resultMap type="org.common.entity.view.user.UserBaseView" id="userBaseView">
		<result property="userId" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="code" column="code"/>
		<result property="email" column="email"/>
		<result property="mobile" column="mobile"/>
		<result property="telphone" column="telphone"/>
		<result property="address" column="address"/>
		<result property="status" column="status"/>
		<result property="imageKey" column="image_key"/>
		<result property="deptCode" column="dept_code"/>
	</resultMap>
	
	<select id="selectUserByPage" parameterType="java.util.HashMap" resultMap="userBaseView">
		select id,user_name,code,email,mobile,telphone,address,status,image_key,dept_code from workoa_user 
		where is_del=1 
		<if test="deptCode!=null">
			and dept_code = #{deptCode} 
		</if>
		<if test="userName!=null">
			and user_name = #{userName}
		</if>
		<if test="status!=null">
			and status = #{status}
		</if>
		<if test="code!=null">
			and code = #{code}
		</if>
		order by create_time desc limit #{limitNum} offset #{offset};
	</select>
	
	<select id="selectUserCountByPage" parameterType="java.util.HashMap" resultType="int">
		select count(*) from workoa_user where is_del=1 
		<if test="deptCode!=null">
			and dept_code = #{deptCode} 
		</if>
		<if test="userName!=null">
			and user_name = #{userName}
		</if>
		<if test="status!=null">
			and status = #{status}
		</if>
		<if test="code!=null">
			and code = #{code}
		</if>
	</select>
	
	<select id="selectUserByUserName" parameterType="string" resultMap="userResult">
		select * from workoa_user where is_del=1 and user_name=#{userName};
	</select>
	
	<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" >
		insert into workoa_user(user_name,password,code,email,mobile,telphone,address,status,image_key,is_del,dept_code,dept_id,real_name,create_time,salt) 
		values(#{userName},#{password},#{userCode},#{email},#{mobilePhone},#{telphone},#{address},#{status},#{imageKey},#{isDel},#{deptCode},#{deptId},#{realName},#{createTime},#{salt});
		<selectKey keyProperty="userId" resultType="long">
			select last_insert_id() as id;
		</selectKey>
	</insert>
	
	<sql id="updateUserSql">
		<if test="password!=null and password!=''">
			,password=#{password}
		</if>
		<if test="userCode!=null">
			,code = #{userCode}
		</if>
		<if test="email!=null">
			,email = #{email}
		</if>
		<if test="mobilePhone!=null">
			,mobile = #{mobilePhone}
		</if>
		<if test="telphone!=null">
			,telphone = #{telphone}
		</if>
		<if test="address!=null">
			,address = #{address}
		</if>
		<if test="status!=null">
			,status = #{status}
		</if>
		<if test="isDel!=null">
			,is_del = #{isDel}
		</if>
		<if test="deptCode!=null">
			,dept_code = #{deptCode}
		</if>
		<if test="deptId!=null">
			,dept_id = #{deptId}
		</if>
		<if test="realName!=null">
			,real_name = #{realName}
		</if>
		<if test="imageKey!=null">
			,image_key = #{imageKey}
		</if>
	</sql>
	
	<update id="updateUser" parameterType="User">
		update workoa_user set update_time=now() 
		<include refid="updateUserSql"/> 
		where id=#{userId};
	</update>
	
	<select id="selectUserById" parameterType="long" resultMap="userResult">
		select * from workoa_user where id=#{id};
	</select>
	
	<select id="selectUserByCode" parameterType="string" resultMap="userResult">
		select * from workoa_user where code = #{code};
	</select>
	
	<select id="selectUserByEmail" parameterType="string" resultMap="userResult">
		select * from workoa_user where email=#{email};
	</select>
	
	<select id="selectCountUserByDepartId" parameterType="long" resultType="int">
		select count(*) from workoa_user where is_del=1 and dept_id=#{departId};
	</select>
	
	<select id="selectUserByDepartId" parameterType="long" resultType="long">
		select id from workoa_user where is_del=1 and dept_id=#{departId};
	</select>
</mapper>